<%- include('partials/header.ejs') %>
<br>
<div style="display: flex; align-items: center;">
    <img src="/images/Me.jpg" alt="My Photo" height="400" width="300" style="margin-right: 20px;">
    <div>
      <h2>About Me</h2>
      <div class="project-box">
        <p><strong>My Name:</strong> Jongyoon Ko</p>
        <p><strong>Birth:</strong> 08/Jul/1998</p>
        <p><strong>Country:</strong> South Korea</p>
      </div>
      <br>
      <div class="project-box">
      <p>
        Hello! I'm Jongyoon Ko. I was born in July 1998 and come from South Korea.
        I have a passion for web development and enjoy working on various projects.
        You can explore my portfolio to check out my work and get in touch with me.
      </p>
      </div>
      <p><a href="/images/Resume.pdf" target="_blank">Download Resume (PDF)</a></p>

    </div>
</div>

<%- include('partials/footer.ejs') %>
