<%- include('partials/header.ejs') %>

<div class="page-box">
    <br>
  <h1>My Projects</h1>
    <!--P1-->
    <div class="project-box">
      <h2>Project1</h2>
        <img src="/images/Bar1.png" alt="Project1" height="300" width="300" />
        <img src="/images/Bar2.png" alt="Project2" height="300" width="300" />
        <p>This is a picture of a 3D object I created using Blender.</p>
        <p>It was my first time trying it out, but I was pleased with the results.</p>
    </div>
    <br>
    <!--P2-->
    <div class="project-box">
        <h2>Project2</h2>
          <img src="/images/Game1.png" alt="Project1" height="300" width="300" />
          <img src="/images/Game2.png" alt="Project2" height="300" width="300" />
          <p>This is currently a group project in progress. </p>
          <p>We are creating a story where an astronaut escapes from an alien attack.</p>
          <p>The object on the right is the gun that the player will use.</p>
          <p>I designed it in pixels, based on the gun from the game Halo.</p>
        </div>
    <br>
    <!--P3-->
    <div class="project-box">
        <h2>Project3</h2>
          <img src="/images/AssLogo.png" alt="Project1" height="300" width="600" />
          <p>This is the logo for a group project I created.</p>
          <p>Our group is called Group4, and we designed the logo using</p>
          <p>the letter G and the number 4 to represent</p>
          <p>both our group's name and the idea of "Games 4 Gamers.</p>
    </div>
</div>

<%- include('partials/footer.ejs') %>
