<%- include('partials/header.ejs') %>

<h1>Service I Offer</h1>
<div style="border: 1px solid #000080; padding: 10px;">
    <h2>Making 3D Objects</h2>
    <p>I can create 3D objects using Blender.</p>
    <p>As you can see on the project page, I am capable of creating objects and also handling the animation aspect.</p>
</div>

<%- include('partials/footer.ejs') %>
