/*
File Name: style.css
Student's Name: Jongyoon Ko
Student Number: 300933882
Date: 07/Oct/2023
*/

html {
  height: 100%;
}

body {
  padding: 50px;
  font: 14px "Verdana", Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100%;
  position: relative;
  background-color: #dcdcdc;
}

.content {
  padding-bottom: 60px;
}

/* Footer Style*/
footer {
  background-color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*Navigation Style*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav li {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #000080;
  border-radius: 5px;
}

nav a {
  text-decoration: none;
  color: #000080;
}

.nav-box {
  background-color: #FFA500;
  border: 2px solid #000080;
  border-radius: 5px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

/*Page Layout Stlye*/
.page-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/*Box Style*/
.project-box {
  border: 1px solid #000080;
  padding: 10px;
  text-align: center;
}